{{extend './_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 首页'}}{{/block}}

{{block 'body'}}
<section class="container">
    <ul class="title-list media-list">
        <li>
            <span><a href="/?model=0">全部</a></span>
        </li>
        <li>
            <span><a href="/?model=1">分享</a></span>
        </li>
        <li>
            <span><a href="/?model=2">问答</a></span>
        </li>
        <li>
            <span><a href="/?model=3">招聘</a></span>
        </li>
        <li>
            <span><a href="/?model=4">客户端测试</a></span>
        </li>
    </ul>
    <ul class="media-list">
        {{each topicList}}
        <li class="media">
            <div class="media-left">
                <a href="#">
                    <img width="40" height="40" class="media-object" src="../public/img/avatar-max-img.png" alt="...">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a href="/topics/show?id={{$value.id}}">{{$value.title}}</a></h4>
                <p>sueysok 回复了问题 • {{$value.response}} 个回复 • {{$value.views}} 次浏览 • 2017-10-20 13:45</p>
            </div>
        </li>
        {{/each}}

    </ul>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</section>
{{/block}}
