body{
    padding: 0;
    margin: 0;
    position: relative;
}
.title-list{
    height: 40px;
}
.title-list li{
    list-style: none;
    float: left;
    margin-right: 10px;
}
footer{
    width: 100%;
    height: 40px;
    background: gray;
    color: white;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
}
