{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 首页'}}{{/block}}

{{block 'body'}}
<section class="container">
  <div class="row">
    <div class="col-md-5">
      <form method="post" id="topic_form">
        <div class="form-group">
          <label for="exampleInputEmail1">选择板块</label>
          <select class="form-control" name="model">
            <option value="1">分享</option>
            <option value="2">问答</option>
            <option value="3">招聘</option>
            <option value="4">客户端测试</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">标题</label>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="标题" name="title">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">内容</label>
          <textarea class="form-control" rows="3" name="content"></textarea>
        </div>
        <button type="submit" class="btn btn-default topicSubmit">Submit</button>
      </form>
    </div>
  </div>
</section>
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script>
    $('#topic_form').on('submit', function (e) {
        e.preventDefault()
        var formData = $(this).serialize()
        console.log(formData)
        $.ajax({
            url: '/newtopic',
            type: 'post',
            data: formData,
            dataType: 'json',
            success:function (res) {
                if(res.err_code==0){
                    window.location.href='/'
                }else{
                    alert(res.message)
                }
            }
        })
    })
</script>
{{/block}}

