{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 首页'}}{{/block}}

{{block 'head'}}
<link rel="stylesheet" href="/public/css/markdown-github.css">
<style>
    .panel .panel-heading .action i {
        margin-right: 10px;
    }
</style>
{{/block}}

{{block 'body'}}
<section class="container">
    <div class="row">
        <div class="col-md-9">
            <article class="markdown-body">
                <h1>{{detail[0].title}}</h1>
                <p>{{detail[0].content}}</p>
            </article>
            {{each remarkList}}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>{{$value.nickname}}</span> commented in
                    <span>{{$value.ramarkTime}}</span>
                    <span class="action">
                      <a href="/goodNum?goodNum={{$value.id}}&pid={{$value.pid}}">  <i class="glyphicon glyphicon-thumbs-up pull-right good" style="cursor: pointer">&nbsp;<span>{{$value.good}}</span> </i></a>
                    </span>
                </div>
                <div class="panel-body">
                    {{$value.remarkContent}}
                </div>
            </div>
            {{/each}}
            <hr>
            <form id="remark">
                <div class="form-group">
                    <label for="exampleInputPassword1">添加回复</label>
                    <!--用于存放话题的Id-->
                    <input type="text" hidden name="pid" value="{{detail[0].id}}">
                    <textarea class="form-control" name="remarkContent" id="" cols="10" rows="10"></textarea>
                </div>
                <button type="submit" class="btn btn-success">回复</button>
            </form>
        </div>
    </div>
</section>
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script>
    $('#remark').on('submit', function (e) {
        e.preventDefault()
        var formData = $(this).serialize()
        console.log(formData)
        $.ajax({
            url: '/remark',
            type: 'post',
            data: formData,
            dataType: 'json',
            success: function (res) {
                if (res.err_code == 0) {
                    window.location.href = '/'
                } else {
                    alert(res.message)
                }
            }
        })
    })
</script>
{{/block}}
